body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}

$table-padding: 2px 5px;
$table-border: solid 1px gray;

table {
	border-collapse: collapse;
	border: {
		bottom: $table-border;
		right: $table-border;
	}
	caption {
		text-align: left;
	}
	th {
		text-align: left;
		font-weight: normal;
		padding: $table-padding;
		border: {
			top: $table-border;
			left: $table-border;
		}
	}
	td {
		padding: $table-padding;
		border: {
			top: $table-border;
			left: $table-border;
		}
	}
}